<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.semiproject.healingzoo.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.semiproject.healingzoo.board.model.vo.Board" alias="Board"/>	
		<typeAlias type="com.semiproject.healingzoo.board.model.vo.Image" alias='Image'/>	
	</typeAliases>
	<mappers>
		<mapper resource='mappers/member-mapper.xml'/>
		<mapper resource='mappers/board-mapper.xml'/>
	</mappers>
</configuration>